<!--footer-->
<!--新增的js-->
<footer th:fragment="commonJs">
<script type="text/javascript" th:src="@{/scripts/main/jquery.js}" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/base.js}" src="scripts/main/base/base.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/util.js}" src="scripts/main/base/util.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/base/event.js}" src="scripts/main/base/event.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/util/action.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/util/business.js}"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/component.js}" src="scripts/main/component/component.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popup.js}" src="scripts/main/component/popup.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popupAdd.js}" src="scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/component/popupMsg.js}" src="scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" th:src="@{/scripts/main/site/home.js}" src="scripts/main/site/home.js"></script>


</footer>