<!DOCTYPE html >
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>UserProfile</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/styles/detail.css}" href="../../styles/detail.css">
    <link rel="stylesheet" th:href="@{/styles/index.css}" href="../styles/index.css">

<body class="zhi ">
<!--header-->
<div th:replace="commons/header :: #topbar"></div>

    <div class="zg-wrap zu-main clearfix " role="main">
        <div class="zm-profile-section-wrap zm-profile-followee-page">
            <!--
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <a href="#">${profileUser.user.name}</a> 关注了 ${profileUser.followerCount} 人
                    </span>
                </div>-->
                <div class="zm-profile-section-list">
                    <div id="zh-profile-follows-list"> <!--th:if="${!profileUser.getObjs('isCurUser')}"-->
                        <div class="zh-general-list clearfix" >
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zg-right" th:if="${!profileUser.getObjs('isCurUser')}">
                                    <!--#if ($profileUser.followed) followed = true表示当前用户已关注该用户--->
                                    <button th:if="${profileUser.getObjs('followed')}"
                                            class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0
                                    js-follow-user" th:attr="data-id=${profileUser.getObjs('user').id}"
                                            data-status="1" data-id="$profileUser.user.id">
                                        取消关注
                                    </button>
                                    <!--#else-->
                                    <button th:if="${!profileUser.getObjs('followed')}" class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0
                                    js-follow-user" th:attr="data-id=${profileUser.getObjs('user').id}"
                                    data-id="$profileUser.user.id">关注</button>

                                </div>
                                <a title="Barty" class="zm-item-link-avatar"
                                   th:href="@{/user/profile/}+${profileUser.getObjs('user').id}"
                                   href="/user/${profileUser.user.id}">
                                    <img th:src="${profileUser.getObjs('user').headUrl}"
                                         class="zm-item-img-avatar">
                                </a>
                                <div class="zm-list-content-medium">
                                    <h2 class="zm-list-content-title">
                                        <a data-tip="p$t$buaabarty" th:text="${profileUser.getObjs('user').name}"
                                           href="/user/${profileUser.user.id}"
                                           th:href="@{/user/profile/}+${profileUser.getObjs('user').id}"
                                           class="zg-link">${profileUser.user.name}
                                        </a>
                                    </h2>

                                    <!-- <div class="zg-big-gray">计蒜客教研首席打杂</div> -->
                                    <div class="details zg-gray">
                                        <a target="_blank"
                                           th:text="${profileUser.getObjs('followerCount')}+'粉丝'"
                                           th:href="@{/user/}+${profileUser.getObjs('user').id}
                                           +'/followers/0/50'"
                                           href="/user/${profileUser.user.id}/followers"
                                           class="zg-link-gray-normal">${profileUser.followerCount}粉丝
                                        </a>
                                        /
                                        <a target="_blank" th:text="${profileUser.getObjs('followeeCount')}+'关注'"
                                           th:href="@{/user/}+${profileUser.getObjs('user').id}
                                           +'/followees/0/50'"
                                           href="/user/${profileUser.user.id}/followees"
                                           class="zg-link-gray-normal">${profileUser.followeeCount}关注
                                        </a>
                                        /
                                        <a target="_blank" th:text="${profileUser.getObjs('commentCount')}+'回答'"
                                           href="#" class="zg-link-gray-normal">${profileUser.commentCount} 回答</a>
                                        /
                                        <a target="_blank" href="#" class="zg-link-gray-normal">548 赞同</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zg-section" id="zh-home-list-title">
                    <i class="zg-icon zg-icon-feedlist"></i>最新动态
                    <!--<span class="zg-right zm-noti-cleaner-setting" style="list-style:none">
                        <a href="https://nowcoder.com/settings/filter" class="zg-link-gray-normal">
                            <i class="zg-icon zg-icon-settings"></i>设置
                        </a>
                    </span>-->
                </div>
                <div class="zu-main-feed-con navigable" data-feedtype="topstory" id="zh-question-list">
                    <div id="js-home-feed-list" class="zh-general-list topstory clearfix">
                        <!--#foreach($vo in $vos)--><!--显示该用户的问题-->
                        <div th:each="vo:${vos}"
                             class="feed-item folding feed-item-hook feed-item-2
                        " feed-item-a="" data-type="a" id="feed-2" data-za-module="FeedItem" data-za-index="">
                            <meta itemprop="ZReactor" data-id="389034" data-meta="">
                            <div class="feed-item-inner">
                                <div class="avatar">
                                    <a title="$!{vo.user.name}" th:title="${vo.getData('user').name}"
                                       data-tip="p$t$amuro1230" class="zm-item-link-avatar" target="_blank"
                                       href="https://nowcoder.com/people/amuro1230">
                                        <img th:src="${vo.getData('user').headUrl}"
                                             src="$!{vo.user.headUrl}" class="zm-item-img-avatar">
                                    </a>
                                </div>
                                <div class="feed-main">
                                    <div class="feed-content" data-za-module="AnswerItem">
                                        <meta itemprop="answer-id" content="389034">
                                        <meta itemprop="answer-url-token" content="13174385">
                                        <h2 class="feed-title">
                                            <a class="question_link" target="_blank"
                                               th:text="${vo.getData('question').title}"
                                               th:href="@{/question/}+${vo.getData('question').id}+'/0/50'"
                                               href="/question/$!{vo.question.id}">$!{vo.question.title}
                                            </a>
                                        </h2>
                                        <div class="feed-question-detail-item">
                                            <div class="question-description-plain zm-editable-content"></div>
                                        </div>
                                        <div class="expandable entry-body">
                                            <div class="zm-item-vote"><!--当前问题的粉丝数量-->
                                                <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;"
                                                   th:text="${vo.getData('followCount')}"
                                                   data-bind-votecount="">${vo.followCount}
                                                </a>
                                            </div>
                                            <div class="zm-item-answer-author-info" th:inline="text">
                                                <a class="author-link" data-tip="p$b$amuro1230"
                                                   th:text="${vo.getData('user').name}"
                                                   th:href="@{/user/profile/}+${vo.getData('user').id}"
                                                   target="_blank" href="/user/$!{vo.user.id}">
                                                    $!{vo.user.name}

                                                </a>
                                                <!--，$data.format('yyyy-MM-dd HH:mm:ss', $!{vo.question.createdDate})-->
                                                [[','+${#dates.format(vo.getData('question').createdDate, 'yyyy-MM-dd HH:mm')}]]

                                            </div>
                                            <div class="zm-item-vote-info" data-votecount="4168" data-za-module="VoteInfo">
                                                <span class="voters text">
                                                    <a href="#" class="more text">
                                                        <span class="js-voteCount"></span>&nbsp;人赞同
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="zm-item-rich-text expandable js-collapse-body"
                                                 data-resourceid="123114" data-action="/answer/content"
                                                 data-author-name="李淼" data-entry-url="/question/19857995/answer/13174385">
                                                <div class="zh-summary summary clearfix"
                                                     th:text="${vo.getData('question').content}">
                                                    ${vo.question.content}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="feed-meta">
                                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                                <div class="zm-meta-panel">
                                                    <a data-follow="q:link" class="follow-link zg-follow meta-item"
                                                       href="javascript:;" id="sfb-123114">
                                                        <i class="z-icon-follow"></i>关注问题
                                                    </a>
                                                    <a href="#" name="addcomment" th:inline="text"
                                                       class="meta-item toggle-comment js-toggleCommentBox">
                                                        <i class="z-icon-comment"></i>
                                                        <!--${vo.question.commentCount}-->
                                                        [[${vo.getData('question').commentCount}]]条评论
                                                    </a>


                                                    <button class="meta-item item-collapse js-collapse">
                                                        <i class="z-icon-fold"></i>收起</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:;" id="zh-load-more" class="zg-btn-white zg-r3px zu-button-more">更多</a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer th:replace="commons/footer :: commonJs">
</footer>
<script type="text/javascript" th:src="@{/scripts/main/site/profile.js}"></script>
</html>
